<html>
  <main>
    <div class="container">
      <header>
        <h1>Dashboard Header</h1>
      </header>

      <div class="main-content">
        <aside class="sidebar">
          <ul>
            <div class="senter">
              <li>
                <button class="dashboard-button" (click)="goToTable()">
                  Go to Table
                </button>
              </li>
              <button class="dashboard-button" (click)="goToUser()">
                Go to User
              </button>
            </div>
          </ul>
        </aside>

        <section class="content">
          <div class="image-container">
            <div class="overlay">
              <h2>Selamat Datang Di Dashboard</h2>
              <p></p>
            </div>
          </div>
        </section>
      </div>

      <footer>
        <p>Dashboard Footer</p>
      </footer>
    </div>
  </main>
</html>
